# precompiled stuff, dont want to include
toolchains/bin/*
toolchains/include/*
toolchains/lib/*
toolchains/libexec/*
toolchains/share/*
toolchains/lib/*
toolchains/i686-elf/*

# compiled stuff
*.o
*.bin